/* common */

.hover {
  cursor: pointer;
}

.divider {
  width: 80%;
}

.nonstyle-link {
  color: #212529;
}

.small-text {
  font-size: 1rem;
}

/* lion book */

.lb-container {
  background-color: #f2f2f2;
  min-height: 100vh;
}

.lb-header {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: black;
}

.team-page-header {
  display: flex;
  justify-content: flex-start;
  padding: 0 15px;
}

.team-page-profile-container {
  border: 1px solid #e2e2e2;
  border-radius: 0.25rem;
}

.team-page-profile-pic {
  height: 150px;
}

.team-page-name-container {
  margin-left: 15px;
  color: white;
  display: flex;
  flex-direction: column-reverse;
}

.team-page-name-container h2 {
  margin: 0;
}

.header-content-container .team-contact-btn-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.lb-body-info,
.lb-body-feed {
  padding: 15px 0;
}

.lb-body-info .team-info-card {
  width: 100%;
}

.lb-body-info .detail-btn {
  padding: 0;
}

.lb-body-info .contact-btn {
  width: 90%;
}

.lb-body-feed {
}

.feed-photo {
  margin-top: 10px;
}

.feed-photo-100 {
  width: 100%;
}

.team-feed-card:not(:first-child) {
  margin-top: 10px;
}

.feed-header {
  display: flex;
  justify-content: flex-end;
}

.team-name-container {
  padding: 0 10px;
}

.profile-pic-container {
  border: 1px solid #e2e2e2;
  border-radius: 15px;
}

.team-profile-pic {
  width: 30px;
}

/* for desktop */
@media (min-width: 768px) {
  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  .team-page-header {
    padding: 0;
  }

  .lb-body-info {
    padding-right: 10px;
  }

  .desktop-content-verticle-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* for mobile */
@media (max-width: 767px) {
  .only-mobile {
    display: block;
  }
  .only-desktop {
    display: none;
  }

  .team-contact-btn-container {
    margin-top: 30px !important;
  }

  .team-contact-btn-container .contact-btn {
    width: 100%;
  }

  .mobile-content-verticle-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
